body {
  font-family: "Heebo", sans-serif;
  display: block;
  margin: 0 auto;
  width: 349px;
  height: 620px;
}
.background {
  background-image: url("../images/frontt.jpg");
  height: 620px;
}
.outer-container {
  position: absolute;
  bottom: 50px;
}
.container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.container > * {
  background-color: #0e0826;
  border-radius: 10px;
  color: #fff;
  font-size: x-small;
  flex: 1;
  width: 90px;
  padding: 10px;
}
a {
  color: #fff;
  font-weight: 600;
}
.credit {
  position: absolute;
  bottom: 0.5px;
  font-size: x-small;
  color: #7f76cf;
  padding-left: 10px;
}
